<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" type="text/css" href="../../../lib/extjs-4.1.1/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="../../../lib/jquery.jqGrid-4.5.2/css/ui.jqgrid.css" />
<script src="../../../lib/jquery.jqGrid-4.5.2/js/jquery-1.9.0.min.js"></script>
<!--
<script type="text/javascript" src="../../../lib/jquery-ui-1.7.3.custom/js/jquery-1.3.2.min.js"></script>
-->
<script type="text/javascript" src="../../../lib/extjs-4.1.1/ext-all.js"></script>

<script src="../../../lib/jquery-ui-1.7.3.custom/js/jquery-ui-1.7.3.custom.min.js"></script>
<script src="../../../lib/jquery.jqGrid-4.5.2/js/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="../../../lib/extjs-4.1.1/locale/ext-lang-ja.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#test_table").jqGrid({
	        datatype: 'clientSide',
			colNames: ["id", "dummy", "name", "guideid"],
			colModel: [
						{ name: "id", width: 30},
						{ name: "dummy", width: 100},
						{ name: "name", width: 100},
						{ name: "guideId", width: 100},
			]
		})
		$.ajax({
			url: "./test1.json",
			async: false,
			dataType: "json",
			dataFilter: function(data, dataType){
				/*//フィルターをかけるときにdata[0]には文字列の[0]がはいるっぽ
				//jsonでフィルタをかけるのは出来ない？
				alert(data[0]);
				for(var i = 0; i < data.length; i++){
					data[i].dummy = "test";
				}
				*/
				return data;
			},
			success: function(data, dataType){
				for(var i = 0; i < data.length; i++){
					data[i].dummy = '<input type="checkbox" name="guideIds" value="' + data[i].guideId +'"></input>';
					$("#test_table").addRowData((i+1), data[i]);
				}
			}
		});

		$("#submit").click(function(){
			//guideIdでフォームを作る
			var guideIdElements = $(document).find("input[name=guideIds]");
			var postData = "";
			var count = 0;
			for(var i = 0; i < guideIdElements.length; i++){
				//alert(guideIdElements[i].value + guideIdElements[i].checked);
				if(guideIdElements[i].checked){
					postData += '<input type="hidden" name="guideIds[' + count + ']" value="' + guideIdElements[i].value +'" />';
					count++;
				}
			}

			$("#hidden_form").html(postData);
			alert($("#hidden_form").html());

		})

	});
</script>
</head>
<body>
jqgridで選択したものを、サーバに送るソースコードのテストです。
<table id="test_table"/>
<input type="button" id="submit" value="確認"></input>
<div id="hidden_form"></div>
</body>
</html>